<a href="https://colab.research.google.com/github/weigelcinthya/heatmap/blob/master/MapaDeCalorParaHabitacoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import gmplot
from IPython.display import display


# data = pd.read_csv("queryresultado.csv")

# display(data.head(n=5))

In [0]:
latitudes = data["latitude"]
longitudes = data["longitude"]

gmap = gmplot.GoogleMapPlotter(-27.354800, -48.325700, 10)

gmap.heatmap(latitudes, longitudes)

gmap.draw("habitacoesDisponiveisEm3Meses.html")

In [0]:
data2 = pd.read_csv("habitacoesAlugadas.csv")

display(data2.head(n=5))

   sk_habitacao_dim    latitude   longitude
0             87132 -27608369.0 -48516664.0
1             90481 -27426682.0 -48445492.0
2             90618 -27427006.0 -48446404.0
3             91651 -27444305.0 -48381161.0
4             91677 -27444347.0 -48381168.0

In [0]:
latitudes2 = data["latitude"]
longitudes2 = data["longitude"]

gmap = gmplot.GoogleMapPlotter(-27.354800, -48.325700, 10)

gmap.heatmap(latitudes2, longitudes2)

gmap.draw("habitacoesAlugadasEm3Meses.html")

In [0]:
hab = pd.read_csv("alugadasmes3.csv")

display(hab.head(n=5))

latitudes2 = hab["latitude"]
longitudes2 = hab["longitude"]

gmap = gmplot.GoogleMapPlotter(-27.354800, -48.325700, 10)

gmap.heatmap(latitudes2, longitudes2)

gmap.draw("habitacoesAlugadasEmMarco.html")

   sk_habitacao_dim    latitude   longitude  mes
0             87132 -27608369.0 -48516664.0    3
1             90618 -27427006.0 -48446404.0    3
2             91651 -27444305.0 -48381161.0    3
3             91677 -27444347.0 -48381168.0    3
4             92563 -27443134.0 -48500647.0    3

In [0]:
hab = pd.read_csv("alugadasmes4.csv")

display(hab.head(n=5))

latitudes2 = hab["latitude"]
longitudes2 = hab["longitude"]

gmap = gmplot.GoogleMapPlotter(-27.354800, -48.325700, 10)

gmap.heatmap(latitudes2, longitudes2)

gmap.draw("habitacoesAlugadasEmAbril.html")

   sk_habitacao_dim    latitude   longitude  mes
0             87132 -27608369.0 -48516664.0    4
1             90481 -27426682.0 -48445492.0    4
2             90618 -27427006.0 -48446404.0    4
3             91651 -27444305.0 -48381161.0    4
4             91677 -27444347.0 -48381168.0    4

In [0]:
hab = pd.read_csv("alugadasmes5.csv")

display(hab.head(n=5))

latitudes2 = hab["latitude"]
longitudes2 = hab["longitude"]

gmap = gmplot.GoogleMapPlotter(-27.354800, -48.325700, 10)

gmap.heatmap(latitudes2, longitudes2)

gmap.draw("habitacoesAlugadasEmMaio.html")

   sk_habitacao_dim    latitude   longitude  mes
0             91651 -27444305.0 -48381161.0    5
1             91677 -27444347.0 -48381168.0    5
2             92563 -27443134.0 -48500647.0    5
3             94016 -27414866.0 -48425977.0    5
4            138755 -27503460.0 -48418580.0    5